<div class="ui inverted dimmer" [class.active]="loading">
  <div class="ui text loader">Loading</div>
</div>

<div class="jumbotron bg-white text-center">
  <h1 class="display-4">{{ "Tracker" | translate }}</h1>
  <hr />
  <app-dashboard-card
    [totalConfirmed]="totalConfirmed"
    [totalRecovered]="totalRecovered"
    [totalDeaths]="totalDeaths"
    [totalActive]="totalActive"
  ></app-dashboard-card>
</div>
<hr />
<div class="row">
  <div class="col-12">
    <div class="ui form ml-4">
      <div class="inline fields">
        <label for="fruit">{{ "SELECT" | translate }}</label>
        <div class="field">
          <div class="ui radio checkbox">
            <input
              type="radio"
              name="casetype"
              value="c"
              checked=""
              tabindex="0"
              #c
              (click)="updateChart(c)"
              id="c"
              class="hidden"
            />
            <label for="c">{{ "CONFIRMED" | translate }}</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input
              type="radio"
              value="d"
              name="casetype"
              tabindex="0"
              #d
              (click)="updateChart(d)"
              id="d"
              class="hidden"
            />
            <label for="d">{{ "DEATHS" | translate }}</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input
              type="radio"
              value="r"
              name="casetype"
              #r
              (click)="updateChart(r)"
              id="r"
              tabindex="0"
              class="hidden"
            />
            <label for="r">{{ "RECOVERED" | translate }}</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input
              type="radio"
              value="a"
              name="casetype"
              id="a"
              #a
              (click)="updateChart(a)"
              tabindex="0"
              class="hidden"
            />
            <label for="a">Active</label>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <google-chart
          [type]="chart.PieChart"
          [height]="chart.height"
          [options]="chart.options"
          style="width: 100%;"
          [data]="datatable"
        ></google-chart>
      </div>
      <div class="col-12 col-md-6">
        <google-chart
          [type]="chart.ColumnChart"
          style="width: 100%;"
          [data]="datatable"
          [options]="chart.options"
          [height]="chart.height"
        ></google-chart>
      </div>
    </div>
  </div>
</div>
